.slider{
    position: relative;
    width: 100%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider img{
    height: 300px;
    display: none;
}

img.displaySlides{
    display: block;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.512);
    color: white;
    border: none;
    cursor: pointer;
}

.prev{
    left: 0;
}
.next{
    right: 0;
}